body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.intro-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: fade0ut 2s ease 2s forwards;
}

.logo {
    color: red;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    letter-spacing: 2px;
    text-align: center;

    /*Curved appearance */
    transform: perspective(400px) rotateX(10deg);
}

.watching-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    height: 100vh;
}

.watching-screen h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
}

.profile {
    cursor: pointer;
    transition: transform 0.3 ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 130px;
    border-radius: 8px;
    border: 3px solid transparent;
    transition: border-color 0.3s, transform 0.3;
}

.profile:hover {
    transform: scale(1.1);
}

.profile:hover img {
    border-color: white;
}

.profile p {
    margin-top: 10px;
    font-size: 1rem;
    color: #999;
    text-align: center;
}